.toggle {
  border-style: outset;
  width: 400px;
  background-color: rgba(76, 175, 80, 0.15);
}

/* Dark Mode */
.dark {
  background-color: #243447;
  height: 100vh;
  color: #bebebe;
}

.light {
  background-color: #ffffff;
  color: black;
  height: 100vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.row {
  margin: 20px;
  display: flex;
}
.col {
  margin: 20px;
}
